<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>controller.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>controller.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>controller.VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartaoServlet</servlet-name>
        <servlet-class>controller.CartaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnderecoServlet</servlet-name>
        <servlet-class>controller.EnderecoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartaoServlet</servlet-name>
        <url-pattern>/CartaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnderecoServlet</servlet-name>
        <url-pattern>/EnderecoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
